node_modules/
.env
sessions.db
uploads/
npm-debug.log*
data/
leads.log
ChatGPT Image*

.vercel

mobile-app/node_modules/
mobile-app/android/app/build/
mobile-app/android/build/
mobile-app/android/.gradle/
mobile-app/android/capacitor-cordova-android-plugins/build/
mobile-app/android/capacitor-android/build/
mobile-app/android/capacitor-app/build/
mobile-app/android/capacitor-haptics/build/
mobile-app/android/capacitor-keyboard/build/
mobile-app/android/capacitor-status-bar/build/
mobile-app/www/js/supabase.js

# Cordova mobile app
mobile/node_modules/
mobile/platforms/
mobile/plugins/
mobile/.gradle/
mobile/build/
mobile/local.properties
